langchain
ipykernel
python-dotenv
langchain_community
langchain-text-splitters
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_openai
chromadb
sentence_transformers
langchain_huggingface
tqdm
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette